  <h1 >Курс валют по состоянию на {{date | date : 'dd.MM.YYYY HH:mm'  }}</h1>
<div *ngIf="!loading; else loadingBlock">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- currency Column -->
    <ng-container matColumnDef="ccy">
      <th mat-header-cell *matHeaderCellDef> Валюта </th>
      <td mat-cell *matCellDef="let element "> {{element.ccy}} </td>
    </ng-container>

    <!-- buy Column -->
    <ng-container matColumnDef="buy">
      <th mat-header-cell *matHeaderCellDef> Покупка </th>
      <td mat-cell *matCellDef="let element"> {{element.buy}} </td>
    </ng-container>

    <!-- sell Column -->
    <ng-container matColumnDef="sale">
      <th mat-header-cell *matHeaderCellDef> Продажа </th>
      <td mat-cell *matCellDef="let element"> {{element.sale}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
  <ng-template #loadingBlock>

      <mat-spinner></mat-spinner>


  </ng-template>
