.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 20px 20px;
}
.nav-list{

  display: flex;
  flex-wrap: wrap;
  color: #0A6AA6;
  &__item{
    margin: 10px 15px 10px 0;

  }
  &__active {
    font-weight: bold;
    color: #cbc693;
    cursor: default;

}

}
.mat-card{
  background-color: #fff9c4;
}
.mat-stroked-button{
  background-color: #fffff7;

}
