.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 20px 20px;
  //background-color: #F2B705;
}
.nav-list{
  display: flex;
color: #0A6AA6;
  &__item{
  margin-right: 15px;
    padding: 5px 10px;
    //background-color: #F29F05;
  }
  &__active {
    font-weight: bold;
    color: #cbc693;
    cursor: default;

}

}
.mat-card{
  background-color: #fff9c4;
}
.mat-stroked-button{
  background-color: #fffff7;

}
