<div class="tablet-pc-header">
  <mat-card>
    <nav class="nav-container">
      <ul class="nav-list">

        <li class="nav-list__item "  >
          <a mat-flat-button  [routerLinkActiveOptions]="{exact:true}" routerLinkActive="nav-list__active" [routerLink]="['/hello']" >Приветствие</a>
        </li>
        <li class="nav-list__item " >
          <a mat-flat-button routerLinkActive="nav-list__active" [routerLink]="['/content']">Контент</a>
        </li>
        <li class="nav-list__item ">
          <a mat-flat-button routerLinkActive="nav-list__active" [routerLink]="['/feedback']">Обратная связь</a>
        </li>

      </ul>
      <div class="aside">
        <button  mat-flat-button (click)="logout($event)">Выйти</button>
        <p class="nav-projectVersion" >версия {{version}}</p>
      </div>
    </nav>
  </mat-card>
</div>



<div class="hamburger-menu">
  <input #menu__toggle id="menu__toggle" type="checkbox"  />
  <label class="menu__btn" for="menu__toggle">
    <span class="menu__btn__span"></span>
  </label>

  <ul class="menu__box" (click)="handleClickNavLink($event)">
    <li >
      <a class="menu__item"  [routerLinkActiveOptions]="{exact:true}" routerLinkActive="nav-list__active" [routerLink]="['/hello']" >Приветствие</a>
    </li>
    <li  >
      <a class="menu__item" routerLinkActive="nav-list__active" [routerLink]="['/content']">Контент</a>
    </li>
    <li >
      <a class="menu__item" routerLinkActive="nav-list__active" [routerLink]="['/feedback']">Обратная связь</a>
    </li>

  </ul>
</div>
