<div class="mainScreen-container">

  <div class="title-container">
    <h3>Добро пожаловать на страницу!</h3>

    <ngx-typed-js [strings]="['Веселись ', 'Развлекайся ', 'Ликуй ', 'Радуйся ',]" [loop]="true" [smartBackspace]="true"
                  [typeSpeed]="100">
      <h2 class="typing"></h2>
    </ngx-typed-js>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus deserunt dolorem esse fugiat laboriosam nam
      numquam quo saepe unde voluptatum.</p>
    <a [routerLink]="['/feedback']">Написать отзыв</a>

  </div>

  <img src="./assets/img/x400.jpg" alt="main image">


</div>

<div class="rate ">
  <img src="https://i.pinimg.com/originals/ae/f5/0a/aef50a29f12e06db36021a71a8d7b6cc.gif" alt="running horse">
  <div class="rate-news">
    <strong>news</strong>

  </div>
  <div class="rate-textBlock">
    <p> Псссс... Биток снова на коне. </p>
    <a [routerLink]="['/content']">Посмотреть курс</a>

  </div>

</div>
<ul class="container-block">
  <li class="container">
    <figure>
      <div class="container-img">
        <img src="assets/img/sup.jpg" alt="sup board">
      </div>
      <figcaption class="container-textblock">
        <h2 class="container-textblock__title">
          Sup board
        </h2>
        <p class="container-textblock-text">
          Здорово жить вблизи огромной реки
        </p>
      </figcaption>
    </figure>
    <button mat-raised-button (click)="openDialogInterest()">Увлечения</button>
  </li>
  <li class="container">
    <figure>
      <div class="container-img">
        <img src="https://miro.medium.com/max/1024/1*EYEnR6eWRYyZ_BmIX5edkw.png" alt="angular man">
      </div>
      <figcaption class="container-textblock">
        <h2 class="container-textblock__title">
          title
        </h2>
        <p class="container-textblock-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </figcaption>
    </figure>
    <button mat-raised-button (click)="openDialogAboutYourself()">Рассказ о себе</button>
  </li>
  <li class="container">
    <figure>
      <div class="container-img">

        <video controls>
          <source src="./assets/video/1.mp4" type="video/mp4">
          <!-- MP4 для Safari, IE9, iPhone, iPad, Android, и Windows Phone 7 -->
        </video>
      </div>

      <figcaption class="container-textblock">
        <h2 class="container-textblock__title">
          Как senior .Net хвалил
        </h2>
        <p class="container-textblock-text">
          Подписывайтесь на Itbeard, ставьте лайки, колокольчик
        </p>
      </figcaption>
    </figure>
    <button mat-raised-button (click)="openDialogWorkExample()">Пример работы</button>
  </li>
</ul>


