<mat-dialog-content>
  <article class="container">
  <h1 >Лучший маршрут выходного дня</h1>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1EEp6Eq7XPFt3Bfyh2AQgv1-D1c0aqcWF"></iframe>
    <p class="container-text">Протяженность около 10 км, что займет около 3 часов. На своем пути можно встретить точки отмеченные на карте, изображение которых ниже</p>

    <mat-tab-group dynamicHeight>
    <mat-tab label="Место стоянки баржи">
      <div class="example-large-box mat-elevation-z4">
       <div class="content">
         <img src="./assets/img/14.jpg">
       </div>

      </div>
    </mat-tab>
    <mat-tab label="Полузатопленный катер">
      <div class="example-large-box mat-elevation-z4">
          <img src="./assets/img/11.jpg">
      </div>
    </mat-tab>
    <mat-tab label="Поплавок">
      <div class="example-large-box mat-elevation-z4">
        <div class="content">
          <img src="./assets/img/12.jpg">

        </div>

      </div>
    </mat-tab>
    <mat-tab label="Недостроенный отель 'Парус'">
      <div class="example-large-box mat-elevation-z4">
        <div class="content">
          <img src="./assets/img/13.jpg">

        </div>

      </div>
    </mat-tab>
    <mat-tab label="Водопад 'Порог ревущий'">
      <div class="example-large-box mat-elevation-z4">
        <div class="content">
          <img src="./assets/img/15.jpg">

        </div>

      </div>
    </mat-tab>

  </mat-tab-group>


  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Закрыть</button>
  </div>

</article>

</mat-dialog-content>

