.container{
&-text {
  margin: 15px 0;
}
  iframe{
    display: block;
    width: 100%;
  }
}

.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 100px;
  width: 100px;
}

.example-large-box {
  max-width: 400px;
}

.content{
  position: relative;
  width: 368px;
  height: 368px;
  background-color: #dedede;
img{
  position: absolute;
  top: 0;
  left: 0;
}
  img, p{
   max-width: 100%;

  }
}
