<section class="popup">
<p >Привет, меня зовут Артур и я изучаю Angular. Это мой первый опыт использования фреймворка Angular: структура согласно scalable подхода, а модули LazyLoading</p>
<mat-dialog-content>

<div class="code-example">
  <pre>
    <code >
      {{lazyLoadExampleCode}}
    </code>
    </pre>
</div>

</mat-dialog-content>
<p>Если интересно посмотреть исходный код этого проекта - вот
  <a class="popup-text__link" href="https://github.com/Manuilenkoart/angular-project">ссылка на github репозиторий
  </a>
</p>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Закрыть</button>
</div>
</section>
