<h1 class="form-title">Форма обратной связи</h1>

<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" placeholder="Например pat@example.com">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      пожалуйста введите корректный email
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      поле Email <strong>обязательное</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Оставьте комментарий</mat-label>
    <textarea formControlName="textAreaComment" matInput placeholder="Привееет..."></textarea>
  </mat-form-field>
    <button [disabled]="form.invalid" type="submit" mat-raised-button class="form-btn">Отправить</button>

</form>
