<h1 mat-dialog-title>Интересы</h1>
<mat-dialog-content>
  <p >Последняя тема которая заинтересова это создания продуктов. На фоне этого ознакомился с книгой "Running Lean" Ash Maurya в которой автор описывается подход бережливого создания продуктов. Ash рассказывает как шаг за шагом проходить путь от гипотезы до продукта.
    Воодушевленный переключился на книгу Lean startup  Эрика Риса, который рассказывает о своем пути построения компании: о взлетах и падениях и как методы бережливого производства повлияли на него. Lean похоже на здравый смысм, но оказывается не так просто понять в какую сторону бежать
  </p>
  <h1 mat-dialog-title>Увлечения</h1>
  <p >Если говорить об увлечениях, то это бесспорно катание на досках: зимой и летом, по снегу, воде, асфальту. Сап доска или лонгборд это всегда весело :)</p>

</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Закрыть</button>
</div>
