/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */


@import "scss/fonts";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto,  sans-serif; }
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;

  &:hover{
    color: #666;
  }
}
ul{
  list-style: none;
}
.btn{
  cursor: pointer;

  &:disabled{
    background:#ccc;
    color: #000;
    cursor: not-allowed;
  }

  &:hover{
    opacity: 0.8;
  }
}



