<h1 mat-dialog-title >Примеры работ</h1>
<div mat-dialog-content>

<mat-nav-list >
  <ul>
    <li mat-list-item>
        <a href="https://crudnotes.herokuapp.com/">
          <span >&#8594;</span>   CRUD заметки (react + express.js + mongoDB)
        </a>
    </li>
    <li mat-list-item>
        <a href="https://itbeard.herokuapp.com/">
          <span >&#8594;</span>   Landing page (react + express.js + youtube api + socket.io + nodemailer)
        </a>

    </li>
    <li mat-list-item>
       <a href="https://telegram.me/parkingfinesbot">
          <span >&#8594;</span>   Телеграм бот оплаты штрафов за парковку (telegraf.js +
          express.js + react + google sheets api+concord pay)
        </a>
    </li>
  </ul>
</mat-nav-list>

</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Закрыть</button>
</div>

